    <!-- pre-header -->
    <table style="display:none!important;">
        <tr>
            <td>
                <div style="overflow:hidden;display:none;font-size:1px;color:#ffffff;line-height:1px;font-family:Arial;maxheight:0px;max-width:0px;opacity:0;">
                    Pre-header for the newsletter template
                </div>
            </td>
        </tr>
    </table>
    <!-- pre-header end -->
    <!-- header -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="ffffff">

        <tr>
            <td align="center">
                <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                    <tr>
                        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                    </tr>

                    <tr>
                        <td align="center">

                            <table border="0" align="center" width="590" cellpadding="0" cellspacing="0" class="container590">

                                <tr>
                                    <td align="center" height="70" style="height:90px;">
                                        <a href="" style="color:#000;text-decoration:none;display: block; border-style: none !important; border: 0 !important;font-size: 2rem">
                                        <img width="100" border="0" style="display: block; width: 100px;" src="https://abhishekbalam.xyz/keeplinkin/logo.png" alt="" /></a>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td align="center" height="70" style="height:90px;">
                                        <a href="" style="color:#000;text-decoration:none;display: block; border-style: none !important; border: 0 !important;font-size: 2.5rem; font-family: Montserrat, sans-serif;">Mail.Keeplink.in</a><br>
                                        <span href="" style="color:#000;text-decoration:none;display: block; border-style: none !important; border: 0 !important;font-size: 1rem; font-family: Montserrat, sans-serif">A simple no-fuss tool to email yourself links which you found interesting on the web.<br></span>
                                        
                                        <!-- <img width="100" border="0" style="display: block; width: 100px;" src="https://mdbootstrap.com/img/logo/mdb-email.png" alt="" /> -->

                                    </td>
                                </tr>
                                
                                
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td height="25" style="font-size: 25px; line-height: 25px;">&nbsp;</td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
    <!-- end header -->
