body {
  background-image: linear-gradient(-45deg, #F9812A 0%,#F4511E  20%);
  height: 100vh;
  margin: 0;
  width: 100vw;
}

.g-recaptcha{
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .recaptcha{
    transform: scale(0.95);
    transform-origin: 0 0;
  }
  .card-body{
    margin-top: 70px;
  }
}

.logo a{
  position: relative;
	color: black;
	text-decoration: none;
}

.logo a:hover{
	color: #F4511E;
	text-decoration: none;
}
