{% extends 'layouts/base.html' %}
{% block name %}
{{ name }}
{% endblock %}


{% block intro %}
Thanks for visiting <a href="https://mail.keeplink.in" style="color:#F4511E">mail.keeplink.in</a>. For future use, please make sure that this email is marked as NOT SPAM.<br><br>Here are your links with the following subject.<br>
<br>
<hr>
<h3 style="text-align: center;">"{{ subject }}"</h3>
{% endblock %}
<hr>
{% block content %}
<p>
{% with links=links %}
    {% include 'layouts/post-body.html' %}
{% endwith %}
</p>
{% endblock %}